Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
Flask-Limiter==3.12
flask-talisman==1.1.0
Authlib==1.6.2
Werkzeug==3.0.4
SQLAlchemy==2.0.43
python-dotenv==1.1.1
psycopg2-binary==2.9.10
requests==2.32.3
numpy==2.2.5
torch==2.7.1
torchaudio==2.7.1
transformers==4.55.4
tokenizers==0.21.4
safetensors==0.6.2
huggingface-hub==0.34.4
soundfile==0.13.1
